:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: subpixel;
  -webkit-text-size-adjust: 100%;
}

.cool_button {
  font-size: 30px;
  font-family: "Times New Roman", serif;
}

.cool_button:hover {
  font-size: 34px;
  text-decoration: underline;
}

@media screen and (max-width: 481px) {
  nav {
      /* background-color: #4b3c3c; */
      padding: 0px;
      text-align: center;
      width: 100%;
      height: 35%;
  
      /* Pay special attention here! */
      position: sticky;
    }

    nav a {
      font-size: 150%;
    }

    nav a:hover {
      font-size: 25px;
      text-shadow: 50px;
    }
}

nav {
  /* background-color: #4b3c3c; */
  padding: 0px;
  text-align: center;
  width: 100%;
  height: 35%;

  /* Pay special attention here! */
  position: sticky;
}

.siteheader {
  font-size: 200%;
  font-family: 'Times New Roman', Times, serif;
}

.sitesubheader {
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 481px) {
  .siteheader {
      font-size: 150%;
      font-family: 'Times New Roman', Times, serif;
    }
  
    .sitesubheader {
      font-size: 100%;
      font-family: 'Times New Roman', Times, serif;
    }
}

nav a {
  color: #007500;
  text-decoration: none;
}

nav a:hover {
  font-size: 25px;
  text-shadow: 100%;
}

.gfg {
  margin: 0%;
  width: 100%;
  position: relative;
}

/*This CSS code is defining the styles for a container that holds text*/
.text-container {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 55%;
  top: 70%;
  width: 50%;
  padding: 0 0rem;
}

@media screen and (max-width: 481px) {
  .text-container {
      position: absolute;
      color: rgb(255, 255, 255);
      left: 55%;
      top: 62%;
      width: 50%;
      padding: 0 0rem;
    }
}

a {
  font-weight: 500;
  color: #ccfb40;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items:normal;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
